@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Comic+Neue:ital,wght@0,700;1,700&family=Bad+Script&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #fff;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 39px;
    font-family: 'Caveat Brush', cursive;
}

/* Для первого блока */
.b1{
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 20px;
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    text-align: center;
}

.b11{
    height: 540px;
    width: 370px;
    background-color: #ffffff;
    transition: all 0.5s ease; 
    cursor: pointer;
}

.b12{
    margin-top: 30px;
}

.but1{
    background-color: #385c9b; 
    color: #ffffff;
    padding: 20px 36px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 35px;
}

/* Для второго блока */
.b2{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    color:#ffffff;
    cursor: pointer;
}

.fon2{
    height: 450px;
    width: 380px;
    color:#ffffff;
    background-image: url('Pictures/Отделка балкона пластиковыми панелями.jpg');
    background-size: cover;
}

.fon21{
    height: 450px;
    width: 380px;
    color:#ffffff;
    background-size: cover;
    background-image: url('Pictures/Отделка лоджии деревом.jpg');
}

.fon22{
    height: 450px;
    width: 380px;
    color:#ffffff;
    background-size: cover;
    background-image: url('Pictures/Отделка балкона гипсокартоном.jpg');
}

.txt1{
    margin: 30px 40px 0px 40px;
}

.txt2{
    margin: 240px 40px 0px 40px;
}

.txt3{
    margin: 60px 40px 90px 40px;
}

.txt21{
    font-size: 40px;
}

.txt4{
    margin: 0px 40px 60px 40px;
}

.txt22{
    margin: 270px 40px 0px 40px;
}

.fon23{
    height: 300px;
    width: 573px;
    color:#ffffff;
    background-size: cover;
    background-image: url('Pictures/Покраска и оклейка обоями.jpg');
    font-size: 24px;
}

.hd2{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fon24{
    height: 300px;
    width: 573px;
    color:#ffffff;
    background-size: cover;
    background-image: url('Pictures/Отделка балкона ламинатом.jpg');
    font-size: 24px;
}

.b3{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    color:#ffffff;
    margin-top: 5px;
    cursor: pointer;
}

.fon25{
    height: 450px;
    width: 380px;
    color:#ffffff;
    background-size: cover;
    background-image: url('Pictures/Отделка балкона виниловой вагонкой.jpg');
    font-size: 24px;
}

.fon26{
    height: 450px;
    width: 380px;
    color:#ffffff;
    background-size: cover;
    background-image: url('Pictures/Внешняя отделка балкона.jpg');
    font-size: 24px;
}

/* Третий блок */

.b31{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    gap: 30px;
    text-align: center;
}

.cb{
    cursor: pointer;
}

.ftxt{
    background-color: #c5c5c58e;
    border: 1px;
    padding: 15px 70px;
    margin-top: -3px;
}

.ftxt1{
    background-color: #c5c5c58e;
    border: 1px;
    padding: 2px 70px;
    margin-top: -3px;
}

/* Четвертый блок */

.b4{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    gap: 30px;
}

.b41{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    width: 370px;
    height: 320px;
    margin-top: 150px;
    padding-top: 160px;
    background-color: #ffffff;
}

.b42{
    transform: translateY(-320px);
}

.ib{
    transform: translateY(-300px) translateX(30px);
}

.ib1{
    transform: translateY(-300px) translateX(30px);
}

.ib2{
    transform: translateY(-300px) translateX(30px);
}
 
li{
    list-style-type:  none;
    font-size: 14px;
}

.sp{
    padding-left: 50px;
    color: #385c9b;
}

.sp2{
    padding-left: 17px;
    color: #385c9b;
}

.sp3{
    padding-left: 155px;
    color: #385c9b;
}

.sp4{
    padding-left: 135px;
    color: #385c9b;
}

.sp5{
    padding-left: 141px;
    color: #385c9b;
}

.sp6{
    padding-left: 43px;
    color: #385c9b;
}

.h{
    text-align: center;
    font-family: 'Caveat Brush', cursive;
}

.sp11{
    padding-left: 190px;
    color: #385c9b;
}
.sp12{
    padding-left: 124px;
    color: #385c9b;
}
.sp13{
    padding-left: 173px;
    color: #385c9b;
}
.sp14{
    padding-left: 168px;
    color: #385c9b;
}
.sp15{
    padding-left: 47px;
    color: #385c9b;
}
.sp16{
    padding-left: 105px;
    color: #385c9b;
}

.sp21{
    padding-left: 50px;
    color: #385c9b;
}
.sp22{
    padding-left: 18px;
    color: #385c9b;
}
.sp23{
    padding-left: 157px;
    color: #385c9b;
}
.sp24{
    padding-left: 136px;
    color: #385c9b;
}
.sp25{
    padding-left: 143px;
    color: #385c9b;
}
.sp26{
    padding-left: 45px;
    color: #385c9b;
}

.line  {
 border-top: 1px dashed #000; 
 margin-top: 5px;
 margin-bottom: 5px;
 width: 300px;
}

/* Пятый блок */

.b5{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;    
}

.b51{
    height: 360px;
    width: 570px;
    background-color: #313981;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px 60px 40px 60px;
    font-size: 18px;
    text-align: center;
}

.b51txt{
    transform: translateY(-20px);
}

.b52{
    width: 430px;
    height: 340px;
    margin: 35px 0px 35px 0px;
    padding: 30px 0px 0px 50px;
    background-color: #ffffff;
}

.button {
    padding: 15px 30px;
    background-color: #ff6600;
    color: white;
    border: none;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

/* Фон для 4-5 блоков */
.block,
section:has(.b5) {
    position: relative;
    background: 
        linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
        url('Pictures/Фон.png') center/cover fixed;
    padding: 50px 0;
    margin: 50px 0;
}


.b4, .b5, .b41, .b42, .b51, .b52 {
    position: relative;
    z-index: 1;
}

/* Фон для 1-2 блоков */

.block1 {
    position: relative;
    padding: 70px 0;
    margin: 50px 0;
    overflow: hidden; 
}


.block1::before {
    content: '';
    position: absolute;
    top: 380px; 
    left: 0;
    width: 100%;
    height: calc(100% - 300px); 
    background: 
        linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
        url('Pictures/Фон.png') center/cover fixed;
    z-index: 0;
}


.b1, .b11, .b12, .b2, .b3, .title, .hd2{
    position: relative;
    z-index: 1;
}

/* АДАПТИВНОСТЬ ТОЛЬКО ДЛЯ МОБИЛЬНЫХ */

@media (max-width: 768px) {
    /* ВСЕ блоки в одну колонку */
    .b1, .b2, .b3, .b31, .b4, .b5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* ВСЕМ блокам одинаковую ширину */
    .b11, .fon2, .fon21, .fon22, .fon23, .fon24, 
    .fon25, .fon26, .b31 article, .b41, .b52 {
        width: 90% !important;
        max-width: 400px !important;
        margin-bottom: 25px !important;
    }
    
    /* Пятый блок - сетка в одну колонку */
    .b51 {
        grid-template-columns: 1fr !important;
        gap: 20px !important;
    }
    
    /* Форма адаптивная */
    .form {
        width: 90% !important;
        max-width: 330px !important;
        margin: 0 auto !important;
    }
    
    /* Текст без переносов */
    .hd2 br {
        display: none;
    }
}